<div class="container">
    <h1>Artikel Updaten</h1>

    <form>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Bezeichnung:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="artikel.bezeichnung"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Preis:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="artikel.preis"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <!-- user-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateArtikel()" class="btn btn-small btn-primary">update Artikel</a>

         
            </div>
        </div>
    </form>
</div>
