<html>
	<head>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="../js/services.js"></script>
		<script type="text/javascript" src="../js/controllers.js"></script>
		<script type="text/javascript" src="../js/shop.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
	</head>
	<body>
	<div >
<h3 ng-repeat="name in names">
{{name.name}}
</h3>
</div>
	</body>
</html>